:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #ff00aa;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    background-image: url(heartbg.gif); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    font-family: Arial, sans-serif; 
}

header {
    margin-bottom: 20px; 
    text-align: center; 
}

h1 {
    font-size: 2.5rem; 
    color: var(--clr-dark);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center; 
    align-items: center; 
    max-width: 90%;
    width: 80vw; 
    border: 10px solid var(--clr-dark);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--clr-light);
    background-image: url(flexbg.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.row-1, .row-2 {
    display: flex;
    justify-content: center; 
    gap: 20px;
    flex-wrap: nowrap; 
}

.item {
    flex: 1 1 150px;
    max-width: 150px; 
    max-height: 150px; 
    background-color: #fd89c3;
    border: 5px solid var(--clr-accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    height: 250px;
}
